body {
  background-color: rgb(253, 251, 251);
  font-size: medium;
  color: black;
  text-align: justify;
  font-family: serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  border-top: 1px black;
}

#minha_foto {
  border-radius: 100%;
  float: left;
}

#licoes_aprendidas {
  margin: auto;
  border: 10%;
  padding: 10%;
}