body {
  margin: auto;
  padding: 10px 10px 10px 10px;
  border: 20px;
  background-color: rgb(253, 251, 251);
  font-size: medium;
  color: black;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: normal;
}

#cabecalho {
  margin: auto;
  border: 20px;
  top: 0;
  background-color: bisque;
  position: fixed;
  width: 98.4%;
  line-height: 30px;
}

#minha_foto {
  padding-top: 60px;
  margin: auto;
  border: 50px;
  display: block;
  border-radius: 50%;
  width: 250px;
}

.lado-esquerdo {
  margin-top: 35px;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border: 20px;
  display: inline-block;
  width: 40%;
  text-align: center;
  position: center;
  background-color: burlywood;
}

.lado-direito {
  margin: 10px;
  margin-top: 10px;
  padding: 55px 10px 10px 10px;
  border: 20px;
  display: inline-block;
  width: 30%;
  text-align: center;
  position: center;
  background-color: burlywood;
}

.table {
  margin: auto;
  padding: 10px 10px 10px 10px;
  border: 20px;
  display: inline-block;
  text-align: center;
  width: 74.5%;
}

.sociais {
  margin: auto;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border: 20px;
  display: inline-block;
  font-size: large;
  width: 73%;
  text-align: center;
  position: center;
  background-color: chocolate;
}

.content {
  margin: auto;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border: 20px;
  display: inline-block;
  font-size: large;
  width: 36.2%;
  text-align: center;
  position: center;
  background-color: #f5d8c4;
}

.url-trybe {
  margin: auto;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border: 20px;
  display: inline-block;
  font-size: large;
  width: 74%;
  text-align:center;
  position: center;
  background-color: chocolate;
}

#rodape {
  margin: auto;
  padding: 10px 10px 10px 10px;
  border: 20px;
  background-color: bisque;
  position: center;
  width: 98.4%;
}